:root {
  --control-panel-top: 0px;
  --primary-color: #3f51b5;
}

#pte-control-panel {
  transition: 0.2s;
  max-width: 337px;
  position: fixed;
  top: var(--control-panel-top);
  left: 0;
  z-index: 3;
  background-color: rgba(64,64,64,0.9);
  color: white;
  padding: 4px;
  /*border-top-right-radius: 4px;*/
  border-bottom-right-radius: 4px;
  transform: translateX(-110%);
  box-shadow: 5px 5px 10px rgb(0,0,0);
}

#pte-control-panel.visible {
  transform: translateX(0);
}

#pte-control-panel > * {
  margin: 4px;
}

#toggle-panel-button {
  position: fixed;
  left: 0;
  top: var(--control-panel-top);
  width: 56px;
  height: 40px !important;
  z-index: 3;
  margin: 0;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  font-size: 32px;
  font-weight: normal;
}

/*#toggle-panel-button.visible {
  background-color: transparent;
  box-shadow: none;
}

#toggle-panel-button:hover {
  color: var(--primary-color);
  text-shadow: 0 2px 5px rgba(0,0,0,0.24);
}*/

#toggle-panel-button img {
  height: 100%;
  width: auto;
}

#panel-title {
  padding: 0;
  margin: 0 0 8px 58px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}

#pob-iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: none;
  opacity: 0;
  min-width: 1400px;
  min-height: 800px;
}

#pob-iframe.visible {
  z-index: 2;
  opacity: 1;
}

.setting-wrap {
  display: flex;
  width: calc(100% - 8px);
  height: 32px;
  line-height: 32px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.setting-wrap > .pte-label {
  line-height: 32px;
}

.item_impact p {
  display: block;
  margin: 0;
  padding: 0;
}

.item_impact .upgrade {
  color: #33FF77;
}

.item_impact .downgrade {
  color: #DD0022;
}

.color_scheme_1 .upgrade {
  color: #03a9f4;
}

/*.item_impact p.highlight {
  font-weight: bold;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.9);
  padding-left: 3px;
  padding-right: 3px;
}*/

.item_impact p.highlight > * {
  text-decoration: underline;
}

.pte-button {
  display: inline-block;
  color: white;
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  height: 32px !important;
  line-height: 32px !important;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
  text-align: center;
  outline: none;
  text-decoration: none !important;
}

.pte-button:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.24);
}

.pte-button:active {
  background-color: #002984;
}

.pte-input {
  box-sizing: border-box;
  height: 32px;
  line-height: 28px;
  color: black;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid white;
  border-radius: 4px;
}

.pte-input:active, .pte-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 2px 5px rgba(0,0,0,0.24);
}

.pte-select {
  height: 32px;
  line-height: 28px;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.pte-select:active, .pte-select:focus {
  border-color: var(--primary-color);
}

 /******************** Switches ********************/
.switch {
  transition: 0.2s;
  position: relative;
  width: 28px;
  height: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(189 193 198);
  appearance: none;
  outline: none !important;
  cursor: pointer;
  display: inline-block;
  margin: 4px !important;
  vertical-align: middle;
}

.switch::after {
  transition: 0.2s;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0,0,0,40%);
}

.switch:checked {
  background-color: var(--primary-color);
}

.switch:checked::after {
  left: 16px;
}

 /******************** Title ********************/
.title-wrap {
  display: block;
  width: calc(100% - 8px);
  overflow: hidden;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
  margin: 12px 4px 4px 4px !important;
}

.title-wrap .title {
  display: inline-block;
  margin-right: 4px;
  font-size: 16px;
}

.title-wrap::after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  vertical-align: middle;
}

#pte-message {
 margin: 4px;
}

#pte-message.error {
  color: #f44336;
}

#pte-control-panel a {
  display: inline-block;
  color: white;
  margin: 4px;
  height: 16px;
  line-height: 16px;
}

#github-link > svg {
  margin-right: 4px;
  vertical-align: bottom;
}

.trade-button {
  height: 18px;
  line-height: 14px !important; /* -2px for borders and -2 for padding */
  padding: 1px 5px !important;
  color: #e9cf9f !important;
}

.trade-button:hover {
  border-color: #444 !important;
}

#pit-footer {
  margin-top: 24px;
}
