#statusBar, .linkBack {
  margin-left: 36px;
}

#trade {
  /*max-width: none !important;*/
}

.item_impact {
  display: block;
}

.multiple_impact {
  text-align: center;
  margin: auto;
}

.item_impact .impact {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 5px;
}

.item_impact img {
  width: 12px;
  height: 12px;
  margin: 1px;
  vertical-align: bottom;
}

.row {
  flex-wrap: wrap !important;
}
